<%- include('../../layout/header.ejs'); %>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/testimonials">Testimonials</a></li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent-04">
		<div class="container">
			<div class="tt-block-title tt-sub-pages">
				<h1 class="tt-title">Our Testimonials</h1>
				<div class="tt-description">What our happy clients say about us</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="tt-list-review">
						<div class="tt-item">
							<div class="tt-col-img">
								<img src="http://localhost:3000/images/custom/review-item-img01.jpg" alt="">
							</div>
							<div class="tt-col-description">
								<h6 class="tt-title">Lawrence C. Anderson,<span> 2018 Chevrolet Malibu</span></h6>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p>
									I called and emailed Car Fusion and I got a fast response. They took the time to walk me through the process. Most of the work was done over the phone and through email. They pre-approved me before coming in. Sales rep John Smith was kind and courteous and listened to my needs. It seemed like it was very important to him that I got in the right vehicle.
								</p>
							</div>
						</div>
						<div class="tt-item">
							<div class="tt-col-img">
								<img src="http://localhost:3000/images/custom/review-item-img02.jpg" alt="">
							</div>
							<div class="tt-col-description">
								<h6 class="tt-title">Thomas Catalano,<span> 2012 GMC Buick</span></h6>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p>
									I am a customer of Car Fusion Auto Group since 2009. I have purchased 2 cars from Paul Beckett. Very excellent service. Friendly and very helpful. I will always work around my friends and family to come to Car Fusion GMC Buick.
								</p>
							</div>
						</div>
						<div class="tt-item">
							<div class="tt-col-img">
								<img src="http://localhost:3000/images/custom/review-item-img03.jpg" alt="">
							</div>
							<div class="tt-col-description">
								<h6 class="tt-title">Thomas E. Watkins,<span> 2013 Porsche 911</span></h6>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p>
									Just bought my first car here at merchants. Far easier and smooth process than i expected! Staff was very knowledgeable and made the process an easy one, I highly recommend them for the buying process he was very friendly and was very transparent in what they could and could not do for me because of my limited credit history. Overall dont hesitate to buy your next car at merchants.
								</p>
							</div>
						</div>
						<div class="tt-item">
							<div class="tt-col-img">
								<img src="http://localhost:3000/images/custom/review-item-img04.jpg" alt="">
							</div>
							<div class="tt-col-description">
								<h6 class="tt-title">Woodrow J. Augustus,<span> 2010 Ford F-150 XLT</span></h6>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p>
									Salesperson was very professional, helpful and friendly. Went above and beyond to make sure we were completely satisfied before leaving the lot. Made the car buying experience easy and pleasant.
								</p>
							</div>
						</div>
						<div class="tt-item">
							<div class="tt-col-img">
								<img src="http://localhost:3000/images/custom/review-item-img05.jpg" alt="">
							</div>
							<div class="tt-col-description">
								<h6 class="tt-title">Belinda Fischer,<span> 013 Ford Edge</span></h6>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</div>
								<p>
									I was initially quoted an online price which did happen to be when i reached to see someone. But, I was very pleased with John's ( Sales rep ) assistance and courteous behaviour. Even the finance manager was very understanding and gave me the needed price after a round of discussion. Everything else was smooth and i am happy i bought my first chevy from this dealership. If i ever buy another chevy car i will be back here again.
								</p>
							</div>
						</div>
					</div>
					<div class="tt-pagination">
						<a href="javascript:void(0)" class="btn-pagination btn-prev"></a>
						<a href="javascript:void(0)" class="btn-pagination btn-next"></a>
					</div>
				</div>
				<div class="col-12 col-lg-4 asideColumn asideColumn-right">
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">Leave your Review</h3>
						<div class="tt-aside-content">
							<form class="tt-form-default02 tt-form-review">
								<div class="tt-form-aside">
									<div class="form-group">
										<input type="text" name="name" class="form-control" placeholder="Your name*">
									</div>
									<div class="form-group">
										<input type="email" name="name" class="form-control" placeholder="E-mail*">
									</div>
									<div class="form-group">
										<input type="text" name="name" class="form-control" placeholder="Your car">
									</div>
									<div class="form-group">
										<input type="text" name="name" class="form-control" placeholder="Review">
									</div>
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
									</div>
									<a href="javascript:void(0)" class="btn btn-wide">LEAVE REVIEW</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal (AddToCartProduct) -->
<div class="modal fade" id="modalAddYourItem" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-body modal-layout-dafault">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
				<h5 class="modal-title">Add your Item</h5>
				<p class="tt-default-color02">
					Trading in your current car can help serve as a springboard into your new one. One of our team members will be in touch with a quote for your trade in right away.
				</p>
				<form class="tt-form-default02 tt-form-default02 tt-form-review" id="formAddYourItem" method="post" novalidate="novalidate" action="#">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Your name*">
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="E-mail*">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="text" name="phone" class="form-control" placeholder="Phone #">
							</div>
						</div>
					</div>
					<h6 class="tt-title">Vehicle Info</h6>
					<div class="form-group tt-row-select tt-skinSelect-01">
						<select name="year" class="tt-select">
							<option value="YEAR" disabled selected>YEAR</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
						</select>
						<select name="select-a-make" class="tt-select">
							<option value="SELECT A MAKE" disabled selected>SELECT A MAKE</option>
							<option value="KIA">KIA</option>
							<option value="CHEVROLET">CHEVROLET</option>
							<option value="VOLKSWAGEN">VOLKSWAGEN</option>
							<option value="AUDI">AUDI</option>
							<option value="NISSAN">NISSAN</option>
							<option value="LEXUS">LEXUS</option>
							<option value="SUBARU">SUBARU</option>
							<option value="SUZUKI">SUZUKI</option>
						</select>
						<select name="select-a-model" class="tt-select">
							<option value="SELECT A MODEL" disabled selected>SELECT A MODEL</option>
							<option value="SEDAN">SEDAN</option>
							<option value="HATCHBACK">HATCHBACK</option>
							<option value="SPORT CARS">SPORT CARS</option>
							<option value="SUV">SUV</option>
							<option value="Pickups">PICKUPS</option>
							<option value="CONVERTIBLE">CONVERTIBLE</option>
							<option value="COUPE">COUPE</option>
							<option value="MINIVAN">MINIVAN</option>
						</select>
						<select  name="select-a-mileage" class="tt-select">
							<option value="PRICE" disabled selected>MILEAGE</option>
							<option value="10000 miles">10000 miles</option>
							<option value="50000 miles">50000 miles</option>
							<option value="100000 miles">100000 miles</option>
						</select>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Exterior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio11" checked="" type="radio" name="radio1" value="CLEAN">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio12" type="radio" name="radio1" value="AVERAG">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio13" type="radio" name="radio1" value="ROUGH">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Interior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio21" checked="" type="radio" name="radio2" value="CLEAN">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio22" type="radio" name="radio2" value="AVERAG">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio23" type="radio" name="radio2" value="ROUGH">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Been in Accident?*</div>
						<div>
							<label class="radio">
								<input id="radio31" checked="" type="radio" name="radio3"  value="NO">
								<span class="outer"><span class="inner"></span></span>NO
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio32" type="radio" name="radio3"  value="YES">
								<span class="outer"><span class="inner"></span></span>YES
							</label>
						</div>
					</div>
					<h6 class="tt-title">Upload your car Photos</h6>
					<div class="input-group tt-input-file">
		                <label class="input-group-btn">
		                    <span class="tt-btn-icon">
		                        choose file... <input name="upload" type="file" style="display: none;" multiple accept="image/*">
		                    </span>
		                </label>
		                <input type="text" readonly>
		            </div>
					<ul class="list-form-column">
						<li>
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox11" name="checkbox" checked>
								<label for="checkBox11">
								<span class="check"></span>
								<span class="box"></span>
								I AGREE TO RECEIVE EMAILS FROM CAR Fusion
								</label>
							</div>
						</li>
					</ul>
					<button type="submit" class="btn">ADD</button>
					<div class="tt-modal-message">Form sent successfully</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include('../../layout/footer.ejs'); %>