<div class="tt-quickLinks-popup"></div>
<div class="tt-mobile-quickLinks">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col">
                <a class="btn-toggle" href="#"><i class="icon-149984"></i></a>
                <div class="quickLinks-layout">
                    <div class="quickLinks-map">
                        <address>
                            <i clas	s="icon-149984"></i>Sindh Univercity Jamshoro , Software Department
                        </address>
                        <div id="googleMapHeader" class="google-map"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <a class="btn-toggle" href="#"><i class="icon-15874"></i></a>
                <div class="quickLinks-layout">
                    <div class="quickLinks-address">
                        <h6 class="tt-title">Call Us:</h6>
                        <ul>
                            <li>
                                <a href="#"><i class="icon-15874"></i> +01 123 456 78</a>
                            </li>
                            <li>
                                <i class="icon-icon"></i> 9:00 AM - 8:00 PM
                            </li>
                            <li>
                                <a href="mailto:info@youremal.com"><i class="icon-mail"></i> info@youremal.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <a data-toggle="modal" data-target="#modalAddYourItem" class="btn-toggle no-popup" href="#"><i class="icon-addcar"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- panel-info -->
<div class="tt-panel-info">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="mx-auto">
                <ul class="tt-box-info">
                    <li><i class="icon-149984"></i>Sindh Univercity Jamshoro , Software Department</li>
                    <li><a href="tel:+0112345678"><i class="icon-15874"></i><strong>Call Us:</strong> +01 123 456 78</a></li>
                    <li><a href="mailto:demo@example.com"><i class="icon-icon"></i>demo@example.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>