<%- include('../../layout/header.ejs'); %>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/faq">Faq</a></li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent-04">
		<div class="container">
			<div class="tt-block-title tt-sub-pages">
				<h1 class="tt-title">Frequently Asked Questions</h1>
				<div class="tt-description">Information Center</div>
			</div>
			<div class="tt-faq-layout">
				<div class="row">
					<div class="col-12 col-md-6">
						<h3 class="tt-title">Buying a car with Car Fusion</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">
								Can I finance my car with Car Fusion?
							</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">What is the $500 deposit for?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">If I fill out Car Fusion’s financing application, do I have to actually ...</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">What forms of payment does Car Fusion accept?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<h3 class="tt-title">Selling your car to Car Fusion</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">How do I sell my car to Car Fusion?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Will Car Fusion  come pick up my car?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">When do I get paid?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Can I sell my car without buying a car from Car Fusion?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Does Car Fusion match competing offers?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">If I return my Car Fusion , can I get my trade-in back, too?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<h3 class="tt-title">Financing</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">What banks do you work with?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Does Car Fusion lease cars?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Do I need to finance through Car Fusion?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Will applying for financing impact my credit score?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<h3 class="tt-title">Selling your car to Car Fusion</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">How do I sell my car to Car Fusion?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Will Car Fusion  come pick up my car?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">When do I get paid?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Can I sell my car without buying a car from Car Fusion?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Does Car Fusion match competing offers?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">If I return my Car Fusion , can I get my trade-in back, too?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<h3 class="tt-title">Car Fusion's Vehicles</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Where are you located?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">What makes and models do you carry?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">How do you ensure the quality of your vehicles?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Where do your cars come from?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Can I see a vehicle history report?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">How are your prices so low?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<h3 class="tt-title">Vehicle Returns</h3>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">What is Car Fusion's return policy?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">If I return my car, will Car Fusion pay for shipping?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">How do I return my vehicle?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
						<div class="tt-faq">
							<a href="javascript:void(0)" class="tt-title">Can I exchange my car for a different Car Fusion vehicle?</a>
							<div class="tt-content">
								<p>
									Yes! We help our customers save through our vast network of lending partners. We work with over 15 banks and financial institutions to make sure you get the best rate available.
								</p>
								<p>
									The application process takes place online – simply find the car you want, click Start Purchase, choose Finance with Car Fusion, and then enter some basic financial information. We'll call you with your terms once you've completed the form.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal (AddToCartProduct) -->
<div class="modal fade" id="modalAddYourItem" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-body modal-layout-dafault">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
				<h5 class="modal-title">Add your Item</h5>
				<p class="tt-default-color02">
					Trading in your current car can help serve as a springboard into your new one. One of our team members will be in touch with a quote for your trade in right away.
				</p>
				<form class="tt-form-default02 tt-form-default02 tt-form-review" id="formAddYourItem" method="post" novalidate="novalidate" action="#">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Your name*">
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="E-mail*">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="text" name="phone" class="form-control" placeholder="Phone #">
							</div>
						</div>
					</div>
					<h6 class="tt-title">Vehicle Info</h6>
					<div class="form-group tt-row-select tt-skinSelect-01">
						<select name="year" class="tt-select">
							<option value="YEAR" disabled selected>YEAR</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
						</select>
						<select name="select-a-make" class="tt-select">
							<option value="SELECT A MAKE" disabled selected>SELECT A MAKE</option>
							<option value="KIA">KIA</option>
							<option value="CHEVROLET">CHEVROLET</option>
							<option value="VOLKSWAGEN">VOLKSWAGEN</option>
							<option value="AUDI">AUDI</option>
							<option value="NISSAN">NISSAN</option>
							<option value="LEXUS">LEXUS</option>
							<option value="SUBARU">SUBARU</option>
							<option value="SUZUKI">SUZUKI</option>
						</select>
						<select name="select-a-model" class="tt-select">
							<option value="SELECT A MODEL" disabled selected>SELECT A MODEL</option>
							<option value="SEDAN">SEDAN</option>
							<option value="HATCHBACK">HATCHBACK</option>
							<option value="SPORT CARS">SPORT CARS</option>
							<option value="SUV">SUV</option>
							<option value="Pickups">PICKUPS</option>
							<option value="CONVERTIBLE">CONVERTIBLE</option>
							<option value="COUPE">COUPE</option>
							<option value="MINIVAN">MINIVAN</option>
						</select>
						<select  name="select-a-mileage" class="tt-select">
							<option value="PRICE" disabled selected>MILEAGE</option>
							<option value="10000 miles">10000 miles</option>
							<option value="50000 miles">50000 miles</option>
							<option value="100000 miles">100000 miles</option>
						</select>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Exterior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio11" checked="" type="radio" name="radio1" value="CLEAN">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio12" type="radio" name="radio1" value="AVERAG">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio13" type="radio" name="radio1" value="ROUGH">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Interior Condition*</div>
						<div>
							<label class="radio">
								<input id="radio21" checked="" type="radio" name="radio2" value="CLEAN">
								<span class="outer"><span class="inner"></span></span>CLEAN
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio22" type="radio" name="radio2" value="AVERAG">
								<span class="outer"><span class="inner"></span></span>AVERAG
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio23" type="radio" name="radio2" value="ROUGH">
								<span class="outer"><span class="inner"></span></span>ROUGH
							</label>
						</div>
					</div>
					<div class="tt-row-radio">
						<div class="tt-title">Been in Accident?*</div>
						<div>
							<label class="radio">
								<input id="radio31" checked="" type="radio" name="radio3"  value="NO">
								<span class="outer"><span class="inner"></span></span>NO
							</label>
						</div>
						<div>
							<label class="radio">
								<input id="radio32" type="radio" name="radio3"  value="YES">
								<span class="outer"><span class="inner"></span></span>YES
							</label>
						</div>
					</div>
					<h6 class="tt-title">Upload your car Photos</h6>
					<div class="input-group tt-input-file">
		                <label class="input-group-btn">
		                    <span class="tt-btn-icon">
		                        choose file... <input name="upload" type="file" style="display: none;" multiple accept="image/*">
		                    </span>
		                </label>
		                <input type="text" readonly>
		            </div>
					<ul class="list-form-column">
						<li>
							<div class="checkbox-group">
								<input type="checkbox" id="checkBox11" name="checkbox" checked>
								<label for="checkBox11">
								<span class="check"></span>
								<span class="box"></span>
								I AGREE TO RECEIVE EMAILS FROM Car Fusion
								</label>
							</div>
						</li>
					</ul>
					<button type="submit" class="btn">ADD</button>
					<div class="tt-modal-message">Form sent successfully</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include('../../layout/footer.ejs'); %>