<%- include('../../../layout/header.ejs'); %>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form class="tt-form-default02 tt-form-default02 tt-form-review" id="signup_form">
                <h1 class="mb-5">SignUp</h1>
                <div class="row mb-3">
                    <div class="col-6">
                        <input type="text" name="first_name" class="form-control" placeholder="First Name*" required />
                    </div>
                    <div class="col-6">
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name*" required />
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email*" required />
                </div>
                <div class="mb-3">
                    <input type="tel" name="phone" class="form-control" placeholder="Phone*" required />
                </div>
                <div class="">
                    <input type="password" name="password" class="form-control" placeholder="Password*" required />
                </div>
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn mr-3">SignUp</button>
                    <p>Already Have Account? Please <a href="/sign-in">SignIn</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../../../layout/footer.ejs'); %>
<script src="pages/auth/signup/signup.js"></script>